*{margin: 0;
 padding: 0;
}
ul{
    color: #fff;
    margin-top: 0px;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin-left: 850px;
    position: absolute;
    font-family: 'Roboto', sans-serif;

}

#navi a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    transition: 0.5s;
}

#navi a:hover{
    border-bottom: 2px solid #ffffff;
}

li{
    color: #fff;
    margin: 5px;
    margin-top: 20px;
    
}

#slide{
    
   
    
}

#slide img{
    margin: 0 auto;
    position: absolute;
    padding-left: 0px;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
}

#logo h{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 350px;
    color: #fff;
    font-size:90px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.main-visual{
    width: 100%;
}

#logo p{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 460px;
    font-size: 40px;
    font-weight: 500;
     font-family: 'Roboto', sans-serif;
}


.content{
    width: 100%;
    margin: 0 auto;
    padding-top: 950px;
    overflow: hidden;
    background: #fff;
    height: 700px;
}

.container{
    margin: 0 auto;
}

#contents1 p{
    color:#162b2e;
    padding-left: 15px;
    font-size: 15px;
    color: #979797;
}

.top-title{
    color:#162b2e;
    text-align: center;
    font-size:40px;
    margin: 0 auto;
}

.item1 h1{
font-size: 18px;
 color:#162b2e;
    padding-left: 20px;
}

.item1 img{
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item1{
    padding-bottom: 10px;
    width: 350px;
    border: solid 1px #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e5e5e5;
    
}

.item2 h1{
     font-size: 20px;
     color:#162b2e;
    padding-left: 20px;
}

.item2 img{
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item2{
    padding-bottom: 10px;
    width: 350px;
    border: solid 1px #eee;
    border-radius: 15px;
    margin: 0px 35px;
    box-shadow: 5px 5px 5px #e5e5e5;
}

.item3 h1{
font-size: 20px;  
color:#162b2e;
    padding-left: 20px;
}

.item3 img{
    height: 234px;
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item3{
    padding-bottom: 10px;
    width: 350px;
    border: solid 1px #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e5e5e5;
}

.container{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 70px;
}

#content1{
    height: 100vh;
    z
}

#contents2{
    width: 100%;
    background-color: #182b2e;
    padding-top: 0px;
    height: 700px;

}
#contents2 h{
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

#contents2 p{
    color: #eee;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 00;
    margin: 0px;
    line-height: 2.5;

}

.right-box{
    margin-top: 200px ;
    float: right;
    margin-right: 200px;
    
}

#contents3{
    
    background-color: #eee;
    color:#162b2e;
    text-align: center;
    font-size:20px;
    margin: 0 auto;
    padding-top: 45px;
    height: 1000px;
}

.item4{
    border: 0.5px solid #000;
    width: 280px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item4 h1{
    font-size: 25px;
    margin: 0;
}

.item5{
    border: 0.5px solid #000;
    width: 280px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item5 h1{
    font-size: 25px;
    margin: 0;
}

.item6{
    border: 0.5px solid #000;
    width: 280px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item6 h1{
    font-size: 25px;
    margin: 0;
}

.container2{
    display: flex;
    justify-content: space-around;
}

.item7{
    border: 0.5px solid #000;
    width: 280px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item7 h1{
    font-size: 25px;
    margin: 0;
}

.item8{
    border: 0.5px solid #000;
    width: 280px; 
    padding: 5px 5px 80px 5px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #555;
}

.item8 h1{
    font-size: 25px;
    margin: 0;
}

.container3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#contents4{
    margin-top: 0px;
    padding-top: 40px;
    height: 670px;
}

#contents4 h1{
    text-align: center;
    margin-bottom: 20px;
}

.Hours{
    display: flex;
    margin-bottom: 15px;
}

.Hours p1{
    color: #979797;
    line-height: 2;
}

.Hours h1{
    font-size: 20px;
    margin: 0;
    margin-right: 60px;
}

.Address{
    display: flex;
    width: 400px;
}

.Address h1{
    font-size: 20px;
    margin: 0;
    margin-right: 40px;
}

.Address p2{
    color: #979797;
    line-height: 1.5;
    
}

.map{
    display: flex;
    justify-content: center;
    border: solid 1px #eee;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e5e5e5;
    
}

.box{
    margin: 50px ;
    margin-right: 100px;
}

#contents4 iframe{
    border-radius: 10px 0px 0px 10px;
}



.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

#contents4 a{
    margin-left: 660px;
    margin-top: 00px;
    font-size: 16px;
    padding: 8px 32px;
    background: #182b2e;
    color: #ffffff;
    border: 1px solid #182b2e;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    
}

#contents4 a:hover{
    background: #ffffff;
    color:#182b2e;
}

.button{
    margin: 0 auto;
    margin-top: 50px;
}

footer{
    background-color: #182b2e;
    color: #ffffff;
    text-align: center;
    font-size:8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 25px;
}









@media screen and (max-width : 480px){ 
    
    ul{
        margin-top: 0px;
    color: #fff;
    display:block;
  
    margin-left: 850px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}
    
.header {
    display: table;

  left: 0;
  top: 0;
  width: 100%;
  
}
.global-nav {
    margin-top: 0px;
  position: fixed;
  right: -380px; /* これで隠れる */
  top: 0;
  width: 360px; /* スマホに収まるくらい */
  height: 100vh;;
 padding: 100px 10px 10px 10px;
    background-color: #000;
    opacity: 0.7;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 30px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
    display: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
    
  text-align: center;
  padding: 20px 14px;
}
.global-nav__item a {
    margin-left: 120px;
    font-family:poleno, sans-serif;
    font-size: 25px;
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #fff;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
   margin-left: 350px;
  position: absolute;
  left: 1px;
  width: 15px;
  height: 1px;
  background-color: #fff;
  transition: all .6s;
}
.hamburger__line--1 {
    position: fixed;
  top: 10px;
}
.hamburger__line--2 {
    position: fixed;
  top: 15px;
}
.hamburger__line--3 {
    position: fixed;
  top: 20px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .6;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}



li a{
    margin-top: 0px;
    display: flex;
    color: #555;
    transition: 0.4s;
}

li a:hover{
    color: black;
}
    
  
    
    
    


    
#slide{
    
   
    
}

#slide img{
    margin: 0 auto;
    position: absolute;
    padding-left: 0px;
    left: 0;
    top:0;
    width: 100%;
    height: 250px;
}

#logo h{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 110px;
    color: #fff;
    font-size:30px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.main-visual{
    width: 100%;
}

#logo p{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 150px;
    font-size: 12px;
    font-weight: 500;
     font-family: 'Roboto', sans-serif;
}


.content{
    z-index: 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 300px;
    overflow: hidden;
    background: #fff;
    height: 580px;
}

.container{
   z-index: ;
   width: 360px;
    height: 380px;
    margin: 0 auto;
}

#contents1 p{
    z-index: 1;
    width: 200px;
    color:#162b2e;
    padding-left: 16px;
    font-size: 13.4px;
    color: #979797;
    padding-bottom: 0px;

}

.top-title{
    color:#162b2e;
    text-align: center;
    font-size:40px;
    margin: 0 auto;
}

    .contents{
        z-index: 0;
    }    

.item1 h1{
font-size: 20px;
 color:#162b2e;
    padding-left:10px;
}

.item1 img{
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item1{
   
    padding-bottom: 0px;
    width: 250px;
    border: solid 1px #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e5e5e5;
    
}

.item2 h1{
     font-size: 20px;
     color:#162b2e;
    padding-left: 10px;
}

.item2 img{
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item2{
    padding-bottom: 0px;
    width: 250px;
    border: solid 1px #eee;
    border-radius: 15px;
    margin: 0px 0px;
    box-shadow: 5px 5px 5px #e5e5e5;
}

.item3 h1{
font-size: 20px;  
color:#162b2e;
    padding-left: 20px;
}

.item3 img{
    height: 150px;
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item3{
    padding-bottom: 15px;
    width: 250px;
    border: solid 1px #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e5e5e5;
}

.container{
    
    width: 250px;
    display: inline-flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 60px;
}


#contents2{
    
    width: 100%;
    background-color: #182b2e;
    padding-top: 0px;
    height: 590px;

}
#contents2 h1{
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
    
    #contents2 img{
        width: 100%;
        height: 410px;
    }

    #font{
        display: flex;
        justify-content: center;
    }
    
#contents2 p1{

   width: 130px;
    color: #eee;
    font-size: 9px;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 0px;
    line-height: 15px;
}
    
#contents2 p2{
    
   width: 130px;
    color: #eee;
    font-size: 9px;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 30px;
    line-height: 15px;


}

    .content{
        z-index: 0;
    }
    
.right-box{
    margin-top: 0px ;
margin-right: 45px;
    margin-left: 0px;
    
}

#contents3{
    background-color: #eee;
    color:#162b2e;
    text-align: center;
    font-size:20px;
    margin: 0 auto;
    padding-top: 45px;
    height: 1000px;
}

.item4{
    height: 150px;
    width: 150px; 
   
}

.item4 h1{
    font-size: 25px;
    margin: 0;
}

.item5{
    height: 150px;
    width: 280px; 

   
}
    .item5 img{
        padding-top: 18px;
        padding-bottom: 5px;
        padding-left: 43px;
    }

.item5 h1{
    font-size: 25px;
    margin: 0;
}

.item6{
    height: 150px;
    width: 280px; 
  
}
    
.item6 img{
        padding-top: 10px;
        padding-left: 43px;
    }

.item4 img{
        padding-top: 10px;
        padding-left: 43px;
    }


.item6 h1{
    font-size: 25px;
    margin: 0;
}

.container2{
    margin-top: 30px;
    padding-top:opx; 
    height: 300px;

}

.item7{
    width: 280px; 
    padding: 5px 5px 80px 5px;
   
}
.item7 img{
        padding-top: 10px;
        padding-left: 43px;
    }

.item7 h1{
    font-size: 25px;
    margin: 0;
}

.item8{
    width: 280px; 
    padding: 5px 5px 80px 5px;
    margin-top:0px;
    margin-left: 28px;
   
}

.item8 h1{
    font-size: 25px;
    margin: 0;
}

.item8 img{
        border: 0px;
        padding-top: 10px;
        padding-left: 43px;
    }

.container3{
    height: 385px;
    margin-top: 50px;
}

#contents4{
    margin-top: 0px;
    padding-top: 40px;
    height: 650px;
}
    
    #contents4 iframe{
        width: 400px;
        height: 400px;
    }

#contents4 h1{
    text-align: center;
    margin-bottom: 20px;
}

.Hours{
    display: flex;
    margin-bottom: 15px;
}

.Hours p1{
    font-size: 15px;
    color: #979797;
    line-height: 2;
}

.Hours h1{
    font-size: 20px;
    margin: 0;
    margin-right: 60px;
}

.Address{
    display: flex;
    width: 400px;
}

.Address h1{
    font-size: px;
    margin: 0;
    margin-right: 40px;
}

.Address p2{
    margin-left: 0px;
    font-size:13px;
    color: #979797;
    line-height: 1.5;
    
}

       
    
.map{
  display: block;
    border: solid 1px #eee;
    width: 340px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e5e5e5;
    
}

.box{
    margin: 30px ;
    margin-left: 9px;
    
}

#contents4 iframe{
    border-radius: 10px 0px 0px 10px;
    height: 300px;
    width: 340px;
}



.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

#contents4 a{
    margin-left: 660px;
    margin-top: 00px;
    font-size: 16px;
    padding: 8px 32px;
    background: #182b2e;
    color: #ffffff;
    border: 1px solid #182b2e;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    
}

#contents4 a:hover{
    background: #ffffff;
    color:#182b2e;
}

.button{
    margin: 0 auto;
    margin-top: 50px;
}

footer{
    background-color: #182b2e;
    color: #ffffff;
    text-align: center;
    font-size:5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 25px;
}

    
  



}
