

ul{
    color: #fff;
    margin-top: 0px;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin-left: 850px;
    position: absolute;
    font-family: 'Roboto', sans-serif;

}

#navi a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}

#navi a:hover{
    border-bottom: 2px solid #ffffff;
}

li{
    color: #fff;
    margin: 15px;
    margin-top: 20px;
    
}

#slide{
    position: relative;
    
}

#slide img{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
}

#logo h{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 350px;
    color: #fff;
    font-size:90px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.main-visual{
position: static;
}

#logo p{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 460px;
    font-size: 40px;
    font-weight: 500;
     font-family: 'Roboto', sans-serif;
}


.content{
    padding-top: 980px;
    overflow: hidden;
    background: #fff;
    height: 700px;
    width: 100%;
}

#contents1 p{
    color:#162b2e;
    padding-left: 20px;
    color: #979797;
}

.top-title{
    color:#162b2e;
    text-align: center;
    font-size:40px;
    margin: 0;
}

.item1 h1{
font-size: 25px;
 color:#162b2e;
    padding-left: 20px;
}

.item1 img{
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item1{
    width: 350px;
    border: solid 1px #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e5e5e5;
    
}

.item2 h1{
     font-size: 25px;
     color:#162b2e;
    padding-left: 20px;
}

.item2 img{
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item2{
    width: 350px;
    border: solid 1px #eee;
    border-radius: 15px;
    margin: 0px 35px;
    box-shadow: 5px 5px 5px #e5e5e5;
}

.item3 h1{
font-size: 25px;  
color:#162b2e;
    padding-left: 20px;
}

.item3 img{
    height: 233px;
    border: #eee solid 1px;
    border-radius: 15px 15px 0px 0px;
}

.item3{
    width: 350px;
    border: solid 1px #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e5e5e5;
}

.container{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 70px;
}

#content1{
    height: 100vh;
}

#contents2{
    background-color: #182b2e;
    padding-top: 0px;
    height: 800px;

}
#contents2 h{
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

#contents2 p{
    color: #eee;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 00;
    margin: 0px;
    line-height: 2.5;

}

.right-box{
    margin-top: 160px ;
    float: right;
    margin-right: 170px;
    
}

#contents3{
    background-color: #eee;
    color:#162b2e;
    text-align: center;
    font-size:20px;
    margin: 0;
    padding-top: 45px;
    height: 1000px;
}

.item4{
    border: 0.5px solid #000;
    width: 350px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item4 h1{
    font-size: 25px;
    margin: 0;
}

.item5{
    border: 0.5px solid #000;
    width: 350px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item5 h1{
    font-size: 25px;
    margin: 0;
}

.item6{
    border: 0.5px solid #000;
    width: 350px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item6 h1{
    font-size: 25px;
    margin: 0;
}

.container2{
    display: flex;
    justify-content: space-around;
}

.item7{
    border: 0.5px solid #000;
    width: 350px; 
    padding: 5px 5px 80px 5px;
    box-shadow: 5px 5px 5px #555;
}

.item7 h1{
    font-size: 25px;
    margin: 0;
}

.item8{
    border: 0.5px solid #000;
    width: 350px; 
    padding: 5px 5px 80px 5px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #555;
}

.item8 h1{
    font-size: 25px;
    margin: 0;
}

.container3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#contents4{
    margin-top: 0px;
    padding-top: 40px;
    height: 670px;
}

#contents4 h1{
    text-align: center;
}

.Hours{
    display: flex;
    margin-bottom: 15px;
}

.Hours p1{
    color: #979797;
    line-height: 2;
}

.Hours h1{
    font-size: 20px;
    margin: 0;
    margin-right: 60px;
}

.Address{
    display: flex;
    width: 400px;
}

.Address h1{
    font-size: 20px;
    margin: 0;
    margin-right: 40px;
}

.Address p2{
    color: #979797;
    line-height: 1.5;
    
}

.map{
    margin-top: 70px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    border: solid 1px #eee;
    width: 1000px;
    margin-left: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e5e5e5;
    
}

.box{
    margin: 50px ;
    margin-right: 100px;
}

#contents4 iframe{
    border-radius: 10px 0px 0px 10px;
}



.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

#contents4 a{
    margin-left: 650px;
    margin-top: 50px;
    font-size: 16px;
    padding: 8px 32px;
    background: #182b2e;
    color: #ffffff;
    border: 1px solid #182b2e;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    
}

#contents4 a:hover{
    background: #ffffff;
    color:#182b2e;
}

footer{
    background-color: #182b2e;
    color: #ffffff;
    text-align: center;
    font-size:8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 25px;
}